/*
   selector(s) { property: value;}
*/

 {
   text-align: center; 
  font-family: Arial;
}
​
.bolded {
  font-weight: bold;
}
​
.underlined {
  text-decoration: underline;
}
​
#my-id {
  background: lime;
}
​
h1 + p {
  color: red;
}
​
[title="example"] {
  color: blue;
}
​
[title="a title"] {
  color: #990000;
}
​
