table, th, td {
  width: 50%;
  border:  solid black;
  border-collapse: collapse;
}
th {
  background: palegreen;
}
table caption {
  font-weight: bold;
  text-align: left;

}
.container {
  width: 450px;
  height: 350px;
  background: gray;
}
.box-red {
  background: red;
  width: 100px;
  height: 100px;
}
.box-blue {
  position: relative;
  background: blue;
  width: 150px;
  height: 100px;
  top: 10px;
  left: 20px;
}
.sticky {
  position: sticky;
    background: green;
    top: 0;

}
